<ion-header>
    <ion-navbar>
        <ion-title>评论列表</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card class="topic-card">
        <ion-card-header>
            <ion-icon name="logo-buffer"></ion-icon>
            <span>全部评论</span>
            <span class="order-btn">
                <button ion-button [ngClass]="{'selected':num==2}"  clear (click)="doOrder(2)" class="color-rp font-12">最热</button>
                <button ion-button [ngClass]="{'selected':num==1}"  clear (click)="doOrder(1)" class="color-rp font-12">最新</button>
                <button ion-button [ngClass]="{'selected':num==0}"  clear (click)="doOrder(0)" class="color-rp font-12">最早</button>
            </span>
        </ion-card-header>
        <ion-list>
            <ion-item *ngFor="let topic of topics" class="topic-box">
                <ion-avatar item-start>
                    <img src="assets/images/icon_account.png">
                </ion-avatar>
                <h2><span [innerHTML]="topic.t_from"></span>:</h2>
                <p [innerHTML]="topic.t_time" class="topic-time"></p>
                <ion-card-content>
                    <p [innerHTML]="topic.t_con"></p>
                </ion-card-content>
                <p class="topic-card-btns">
                    <span *ngIf="topic.rp_count!=0" ion-button color="dark" clear (click)="goTopicDetail(topic)">
                        展开评论
                    </span>
                    <button ion-button icon-left clear small (click)="vote(topic,1)" class="color-green">
                        <ion-icon name="thumbs-up" class="color-green"></ion-icon>
                        <div [innerHTML]="topic.vote_up"></div>
                    </button>
                    <button ion-button icon-left clear small (click)="vote(topic,0)" class="color-dark">
                        <ion-icon name="thumbs-down"></ion-icon>
                        <div [innerHTML]="topic.vote_down"></div>
                    </button>
                    <button ion-button clear (click)="doPrompt(topic)" class="color-rp font-12">
                        回复
                    </button>
                </p>
            </ion-item>
        </ion-list>
    </ion-card>
</ion-content>
