<ion-header>
    <ion-navbar>
        <ion-title>我的收藏</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list text-center>
        <ion-item-sliding *ngFor="let slide of news">

            <ion-item (click)="goDetail(slide)">
                <ion-row>
                    <ion-col col-4>
                        <div class="news_left">
                            <img src="{{slide.top_image}}" class="news_img">
                        </div>
                    </ion-col>
                    <ion-col col-8>
                        <h3 class="news_title">{{slide.title}}</h3>
                        <p class="news_body">{{slide.digest}}</p>
                        <p class="news_icon">
                        <span>
                          <ion-icon color="primary" name="chatboxes"></ion-icon>
                        </span>
                            {{slide.r_count}}
                        <span class="eye">
                          <ion-icon color="primary" name="eye"></ion-icon>
                        </span>
                            {{slide.v_count}}
                            <span class="date">{{slide.edit_time}}</span>
                        </p>
                    </ion-col>
                </ion-row>
            </ion-item>

            <ion-item-options side="right" (click)="delItem(slide.news_id)">
                <button ion-button color="danger">
                    <ion-icon name="trash" item-start></ion-icon>
                    删除
                </button>
            </ion-item-options>

        </ion-item-sliding>
    </ion-list>

    <ion-card *ngIf="noNews">
        <ion-card-header>
            您还没有收藏新闻，快去添加吧~
        </ion-card-header>
    </ion-card>
</ion-content>




