page-register {

}

@media screen and (max-width: 320px) {
  input, button {
    font-size: 14px;
  }
}

.reg_header button:nth-child(2) ion-icon {
  color: #fff !important;
}
input{
  font-size: 15px;
}
.input_err{
  color: red;
}

.reg_content .item-ios [item-right]{
  display: block;
  margin-top: 0;
  padding: 8px 4px;
}
.reg_content .xieyi{
  padding-top: 40px;
}
