page-agreement {

}
.agreement div{
  text-indent: 2em;
  margin-bottom: 14px;
}

.agreement .aggr_wrap{
  margin-top: 20px;
  margin-bottom: 80px;
}
.agreement li{
  text-indent: 4px;
  list-style-type: lower-latin;
}
