<ion-header class="home-header">
  <ion-navbar>
    <ion-row>
      <ion-col col-4></ion-col>
      <ion-col col-4 text-center>
        <img class="logo" src="/assets/images/logo.png">
      </ion-col>
      <ion-col col-4 text-end>
        <ion-icon name="search" class="icon-search" (click)="search()"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>
<ion-content>
  <!-- 轮播 -->
  <ion-row>
    <ion-slides class="home-slides" loop="true">
      <ion-slide class="slide my-banner" *ngFor="let slide of banner_slides" (click)="goDetail(slide)">
        <img [src]="slide.top_image" class="slide-img">
        <h6 [innerHTML]="slide.title" class="slide-title"></h6>
      </ion-slide>
    </ion-slides>
  </ion-row>
  <!-- 功能图标 -->
  <ion-row class="cate-row">
    <ion-col col-3 text-center *ngFor="let cate of cates" class="cate" (click)="goList(cate.type)">
      <p>
        <ion-icon [color]="cate.color" [name]="cate.icon" class="cate-icon"></ion-icon>
      </p>
      <span [innerHTML]="cate.name" class="cate-name"></span>
    </ion-col>
  </ion-row>
  <!-- 新闻栏 -->
  <ion-row class="lists-top-title">
    <ion-col text-start>头条事件</ion-col>
  </ion-row>
  <!-- 新闻列表 -->
  <div class="news_wrap">
    <ion-row *ngFor="let slide of list_slides" (click)="goDetail(slide)">
      <ion-col col-4>
        <div class="news_left">
          <img src="{{slide.top_image}}" class="news_img">
        </div>
      </ion-col>
      <ion-col>
        <h3 class="news_title">{{slide.title}}</h3>
        <p class="news_body">{{slide.digest}}</p>
        <p class="news_icon">
            <span>
              <ion-icon color="primary" name="chatboxes"></ion-icon>
            </span>{{slide.r_count}}
          <span class="eye">
              <ion-icon color="primary" name="eye"></ion-icon>
            </span>{{slide.v_count}}
          <span class="date">{{slide.edit_time}}</span>
        </p>
      </ion-col>
    </ion-row>
  </div>
  <ion-refresher pulling-text="下拉刷新" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="Pull to refresh"
            refreshingSpinner="circles"
            refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
</ion-content>

