<ion-header class="home-header">
  <ion-navbar>
    <ion-row>
      <ion-col col-4 class="city"><span>北京市</span><span class="tri-down">▲</span></ion-col>
      <ion-col col-4 text-center><img class="logo" src="/assets/images/logo.png"></ion-col>
      <ion-col col-4 text-end>
        <ion-icon name="search" class="icon-search" (click)="search()"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>
<ion-content>
  <!-- 轮播 -->
  <ion-row>
    <ion-slides class="home-slides" loop="true">
      <ion-slide class="slide my-banner" *ngFor="let slide of banner_slides" (click)="goDetail(slide)">
        <img [src]="slide.top_image" class="slide-img">
        <h6 [innerHTML]="slide.title" class="slide-title"></h6>
      </ion-slide>
    </ion-slides>
  </ion-row>
  <!-- 功能图标 -->
  <ion-row class="cate-row">
    <ion-col col-3 text-center *ngFor="let cate of cates" class="cate" (click)="goList(cate.type)">
      <p>
        <ion-icon [color]="cate.color" [name]="cate.icon" class="cate-icon"></ion-icon>
      </p>
      <span [innerHTML]="cate.name" class="cate-name"></span>
    </ion-col>
  </ion-row>
  <!-- 新闻栏 -->
  <ion-row class="lists-top-title">
    <ion-col col-6 text-start>头条事件</ion-col>
    <ion-col col-6 text-end>囧事推荐</ion-col>
  </ion-row>
  <!-- 新闻列表 -->
  <ion-row>
    <ion-list class="home-list">
      <ion-item *ngFor="let slide of list_slides" (click)="goDetail(slide)">
        <ion-col col-1 item-start>
          <img [src]="slide.top_image">
        </ion-col>
        <h3 [innerHTML]="slide.title"></h3>
        <p [innerHTML]="slide.digest"></p>
        <p class="list-new-btns">
          <button color="dark" ion-button icon-left clear small>
            <ion-icon name="text"></ion-icon>
            <div>4</div>
          </button>
          <button color="dark" ion-button icon-left clear small>
            <ion-icon name="eye"></ion-icon>
            <div>4</div>
          </button>
          <ion-note class="list-new-time">
            1-20
          </ion-note>
        </p>
      </ion-item>
    </ion-list>
  </ion-row>
</ion-content>

