.news_banner{
  margin-top: 0;
  height: 130px;
}
.toolbar-title-ios{
  font-weight: 300;
  color:gray;
}
.icon-search{
  font-size: 30px;
  float: right;
  margin-right: 10px;
  color: #4D82E9;
}
.swiper-pagination{
  display: none;
}
.ss_col{
  font-size: 18px;
  line-height: 30px;
}
.wrap{
  display: block;
  color: #2d2d2d;
  overflow: hidden;
}
.news_left{
  padding: 6px;
  overflow: hidden;
  height: 100%;
}
.news_icon{
  margin: 12px 0 6px 0;
}
.news_img{
  height: 80px;
  max-width: none;
}
.news_title{
  margin: 12px 0px 0px;
  font-size: 16px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.news_body{
  margin: 6px 0px 0px;
  height: 16px;
  font-size: 13px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.eye{
  margin-left: 10px;
}
.date{
  float: right;
  margin-right: 8px;
}
ion-row .bottom_button{
  margin-bottom: 50px;
}
