<ion-header>
  <ion-navbar>
    <ion-row>
      <ion-col col-4></ion-col>
      <ion-col col-4 text-center class="ss_col">时事</ion-col>
      <ion-col col-4>
        <ion-icon name="search" class="icon-search" (click)="search()"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-row>
      <ion-slides class="home-slides" loop="true" autoplay="4000">
        <ion-slide class="slide" *ngFor="let slide of slides">
          <img [src]="slide.image" class="slide-img">
          <h6 [innerHTML]="slide.title" class="slide-title"></h6>
        </ion-slide>
      </ion-slides>
    </ion-row>

<!-- 新闻 -->
  <div class="news_wrap">
    <ion-row *ngFor="let n of news">
      <ion-col col-4>
        <div class="news_left">
          <img src="assets/images/2.jpg" class="news_img">
        </div>
      </ion-col>
      <ion-col>
        <h3 class="news_title">{{n.title}}</h3>
        <p class="news_body">国台办新闻发言人马晓光1月11日在例行记者会上表示..</p>
        <p class="news_icon">
            <span>
              <ion-icon color="primary" name="chatboxes"></ion-icon>
            </span>0
          <span class="eye">
              <ion-icon color="primary" name="eye"></ion-icon>
            </span>15
          <span class="date">2016-01</span>
        </p>
      </ion-col>
    </ion-row>
  </div>
</ion-content>

