page-topic-detail {
  .font-12{
    font-size: 12px;
    color: #ccc;
  }
  .color-rp{
    color: black;
  }
  .topic-time{
    text-align: right;
    padding-right: 10px;
    font-size: 12px;
  }
  .color-green{
    color: #00af54;
  }
  .color-dark{
    color: #ccc;
  }
}
