page-topic-detail {
  .font-12{
    font-size: 12px;
    color: #ccc;
  }
  .topic-time{
    text-align: right;
    padding-right: 10px;
    font-size: 12px;
  }
  .color-green{
    color: #00af54;
  }
  .color-dark{
    color: #ccc;
  }
  .topic-card,.reply-card{
    width: 100%;
    margin: 0;
  }
  .topic-card-btns,.reply-card-btns{
    text-align: right;
  }
  .reply-box{
    border: 0;
  }
  .bgc-reply{
    background-color: #fbf9ed;
  }
}
