page-detail {
  .article_date{
    float: right;
  }
  .article_content{
    margin-bottom: 65px;
  }
  .article_content img {
    margin: 0 auto;
    display: block;
  }
  .size-12{
    font-size: 12px;
  }
  ion-toolbar p{
    margin-left: 10px;
  }

}

.toast-ios .toast-wrapper{
  background: rgba(0,0,0,.7) !important;
}
