<ion-content no-bounce>
  <!-- no-bounce -->
  <div class="mine_bg"></div>

  <!-- 头像 -->
  <ion-row>
    <ion-col text-center>
      <div class="icon_head" tabIcon="md-person"></div>
    </ion-col>
  </ion-row>

  <ion-row>
    <!-- 登录 注册按钮 -->
    <ion-col text-center class="btns"  *ngIf="!currentUser">
      <button ion-button color="danger" (click)="toRegisterPage()">注 册</button>
      <button ion-button (click)="toLoginPage()">登 录</button>
    </ion-col>
    <!-- 用户昵称（用户名） -->
    <ion-col text-center *ngIf="currentUser" class="user_info">
      <h4>{{currentUser.username}}</h4>
    </ion-col>
  </ion-row>

  <!-- 功能列表 -->
  <ion-row class="navs">
    <ion-col>
      <ion-list inset>
        <button ion-item (click)="doPrompt()">
          <ion-icon name="star" item-start></ion-icon>
          我的收藏
        </button>
        <button ion-item>
          <ion-icon name="text" item-start></ion-icon>
          消息通知
        </button>
        <button ion-item (click)="toSetting()">
          <ion-icon name="settings" item-start></ion-icon>
          设置
        </button>
        <button ion-item *ngIf="currentUser" (click)="toLogout()">
          <ion-icon name="backspace" item-start></ion-icon>
          退出登录
        </button>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>

