<ion-header>
  <ion-navbar>
    <ion-row>
      <ion-col text-center class="ss_col">视频</ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let news of newsArr">
      <ion-card>
        <ion-card-content>
          <a (click)="videoDetailPage(news,newsArr)">
            <img src="{{news.cover_pic}}" alt="">
          </a>
          <br>
          <p class="title_des">主题：{{news.caption}}</p>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>

  <ion-refresher pulling-text="下拉刷新" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="Pull to refresh"
            refreshingSpinner="circles"
            refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <!--//加载完毕-->
  <ion-row *ngIf="isHasMore">
    <ion-col col-12 text-center>
      <button ion-button color="transparent" block class="bottom_button">
        加载完毕
      </button>
    </ion-col>
  </ion-row>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
